@import "tailwindcss";

.theme-blue {
  background: #eff6ff;
  min-height: 100vh;
}

.theme-pink {
  background: #fdf2f8;
  min-height: 100vh;
}

.theme-green {
  background: #f0fdf4;
  min-height: 100vh;
}

.theme-purple {
  background: #f5f3ff;
  min-height: 100vh;
}

.theme-dark {
  background: #111;
  color: white;
  min-height: 100vh;
}

.theme-dark .theme-btn {
  background: #444;
}
