@import "tailwindcss";

.theme-blue .theme-btn{
background:#3b82f6;
}

.theme-pink .theme-btn{
background:#ec4899;
}

.theme-green .theme-btn{
background:#10b981;
}

.theme-purple .theme-btn{
background:#8b5cf6;
}

.theme-dark{
background:#111;
color:white;
}

.theme-dark .theme-btn{
background:#444;
}
